@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* @keyframes bounce-right {
  0%,
  100% {
    transform: translateX(2px);
  }

  50% {
    transform: translateX(0px);
  }
} */

.animate {
  animation: wave 30s infinite;
  animation-fill-mode: forwards;
  background-image: rgb(75, 7, 143);
}

@keyframes wave {
  0%,
  90% {
    background-image: rgb(58, 19, 97);
  }

  50% {
    background: rgb(125, 0, 251);
  }

  100%,
  0% {
    background: rgb(24, 1, 47);
  }
}

@keyframes animate-icons {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-5px);
  }
}
